.block-features{
	padding: 125px 0;
	background: url(../img/bg/futures-bg.jpg) no-repeat center/cover;
	position: relative;
	color: white;
	 &::before{
        position:absolute;
        content:'';
        background-color: rgba($primary-color , .7);
        width: 100%;
        height: 100%;
        top: 0;
    }
   .features__item{
   	text-align: center;
	width: 25%;
	z-index: 1;
	font-size: 16px;
	line-height: 27px;
	padding: 0 15px;
	margin-bottom: 60px;
		.features-icon{
	        display: inline-block;
			margin-bottom: 30px;
			opacity: .8;
			
		}
	&:hover .features-icon {
       opacity: 1;
       
	}
	.features-title{
		padding: 0 40px;
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 20px;
	}
	&:hover .features-title {
        color: darken($primary-color, 20%);
        text-shadow: 0 0 5px white;
       
	}
}

}