@font-face { 
  font-family: 'freestyle script'; 
  src: url('../../font/font.woff') format('woff');
  src: url('../../font/font.ttf') format('truetype'); 
  font-weight: regular; 
  font-style: normal; 
}
@font-face { 
  font-family: 'Open sans'; 
  src: url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" rel="stylesheet');
 
  font-weight: regular; 
  font-weight: bold; 
  font-style: normal; 
  font-style: italic; 
}
