@font-face { 
  font-family: 'freestyle script'; 
  src: url('../../font/font.woff') format('woff');
  src: url('../../font/font.ttf') format('truetype'); 
  font-weight: regular; 
  font-style: normal; 
}