.footer-site{
  color: white;

  .footer{
      padding: 90px 0;	
      background-color: $primary-color;
  	.footer-col{
  		width: 50%;
      .ft-about{
        margin-bottom: 65px;
        padding-right: 130px;
      }  
      .ft-title{
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 55px;
      }
  	}
  }
  .copyright{
    padding: 40px 0;
    text-align: center;
  	background-color: darken($primary-color, 1.8%);
  	color: lighten($grey, 46% )
  }
}





	
.social {

  li{
    display: inline-block;
  }
  a {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 5px;
  background-repeat: no-repeat;
  background-image: url(../img/sprite/sprite-social.png);
  opacity: .8;
  &:hover{
   opacity: 1;
  }
}

.pint{
  background-position: 0px 0;
}
.tw{
  background-position: -35px 0;
}
.fb{
  background-position: -73px 0;
} 
.google{
  background-position: -110px 0;
}	
.inst{
  background-position: -148px 0;
}
}
 .contact{
    margin-bottom: 88px;
    &__item{

      display: inline-block;
     margin-right: 75px;
     margin-bottom: 17px;
     p{
      display: inline-block;
     }
   }
   &__item:last-child{
  padding-left: 20px;
   }
}

	i {
  display: inline-block;
  position: relative;
  top:7px;
  width: 25px;
  height: 25px;
  margin: 0 5px;
  background-repeat: no-repeat;
  background-image: url(../img/sprite/sprite-contact.png);
  opacity: .8;
 
 }

.place{
  background-position:  0px -7px;
}
.phone{
  background-position: -40px -7px;
}
.email{
  background-position: -109px -7px;
} 
.web-site{
  background-position: -178px -7px;
}	


 