/*..............................................BLOCK _ HEADER..............................................*/
@media screen and (max-width: 970px) {
.header-main{
    padding: 60px 0;

}
h1{
	font-size: 40px;
	margin-bottom: 30px;	
}
.header-form{ 
     max-width: 250px;
}
.header-slogan{
     margin-left: 80px;
     line-height: 50px;
} 
}
@media screen and (max-width: 900px) {
.top-line{
	.site-logo{
		margin: 0 30px; 
	}
}
.header-slogan{
	max-width: 50%;
     margin-left: 30px;
     line-height: 36px;
     h1{
     	font-size: 30px;
     }
     p{
     	padding: 0;
     }
}   
}

@media screen and (max-width: 760px) {

.header-main{
		padding: 50px 0;
		.wrap-flex{
			flex-direction: column-reverse;
		
		.header-form{
			padding-bottom: 15px;
			max-width: 100%;
			margin: 0 50px;
		}
		.header-slogan{
			text-align: center;
			max-width: 100%;
			margin: 0;
			margin-bottom: 30px;
			h1{
				margin: 0;
				margin-top: 10px;
				padding: 0 ;
				line-height: 45px;
			}
		}
	}
	}
}

@media screen and (max-width: 640px) {
.top-line{
    .wrap-flex {
		display:block;
	}
.menu-respon{
        display: block;
        width: 100%;
        text-align: center;
        	
        ul{
        margin-top: 20px;
   		display: none;
   		}
         li{
            display: inline;
            padding: 0 15px;
        }
        a{
            color: $grey;
            padding-bottom: 5px;
            position: relative;
            &::before{
            	position: absolute;
			    content: '';
				background-color: #5b6ceb;
				top: 100%;
				max-width: 30px;
				height: 2px;
				left: 0;
				margin: 0 auto;
				right: 0;
				opacity: 0;
            }
            &:hover:before{
                opacity: 1;
            }	
            &:hover{
                color:$primary-color;
                }
            }
}
        
   .menu { 
        display: none;
    }
    .site-logo{
        width: 70px;
        margin: 0 auto;
    }
}
}
@media screen and (max-width: 540px) {
	
   .header-main{
   	    .wrap-flex{
   	    .header-slogan{
			h1{
				padding: 0 30px;
				
			}
		}	
   	    }
		
	}
	

}	

@media screen and (max-width: 500px) {

.top-line{

    .menu-respon{
        display: block;
       	width: 100%;
       	text-align: center;
        	
       		ul{
       		    margin-top: 20px;
   			li{
            	display: block;
            	padding: 7px 15px;
              }
		    }

    }
}


}
@media screen and (max-width: 400px) {
  .header-main{
   	.wrap-flex{
   	.header-form{
			max-width: 100%;
			margin: 0 30px;
        .form-title{
            margin-bottom: 10px;
            font-size: 20px;
            color: $primary-color;
        }
        input, select{
            background-color: #f2f2f2;
            border-radius: 10px;
            border: none;
            color: lighten($grey, 13.5%);
            width: 100%;
            padding: 15px 10px;
            margin: 10px 0;  
        }
        .btn{
            padding: 12px 30px;  
        }
        
	}	
   	.header-slogan{
		h1{
			font-size: 25px;
			padding: 0 18px;
		}
		p{
			font-size: 30px;
			padding: 0 20px;
		}
	}	
    }
		
   }
}  	

/*...............................................BLOCK _ CLASSES............................................*/


@media screen and (max-width: 1200px) {

	.block-classes{
	padding: 80px 0;
	&__item{
		width: 100%;
		
		margin: 25px 150px;
	
	}
	
}

@media screen and (max-width: 870px) {
.block-classes{
	padding: 80px 0;
	&__item{
		margin: 25px 80px;
	}
	
}
}
@media screen and (max-width: 870px) {
	h2{ 
	font-size: 25px;
}
.font-freestyle{
	 font-size: 35px;
}
.block-classes{
	padding: 80px 0;
	&__item{
		margin: 18px 30px;
	}
}
}
@media screen and (max-width: 600px) {
.block-classes{
	.photo{
		img{
			max-height: 250px;
		}
	}
	.classes-description{
		text-align: center;
		padding: 20px 15px;

		.classes-title{
           font-size: 18px;
           margin-bottom: 15px;
		}

	}
}

}
@media screen and (max-width: 540px) {
h2{ 
	font-size: 20px;
}
.font-freestyle{
	 font-size: 30px;
}	
.block-classes{
	&__item{
		margin: 18px 80px;
	}
	.photo{
		float: none; 
		margin-right: 0;
	    margin: 0 auto;
		img{
			border-radius: 10px;
			margin: 0 auto;
		}
	}
	.classes-description{
		text-align: center;
		padding: 20px 35px;

		.classes-title{
           font-size: 18px;
           margin-bottom: 15px;
		}

	}
}	

}
@media screen and (max-width: 460px) {
.block-classes{
	&__item{
		margin: 18px 20px;
	}
	.photo{
		img{
			display: none;
			border-radius: 10px;
			margin: 0 auto;
		}
	}
	.classes-description{
	
		padding: 20px 15px;
		p{
			font-size: 13px;
		}
	}
}		
}

/*...............................................BLOCK _ GALLERY............................................*/
@media screen and (max-width: 1200px) {
.gallery-photo{
		width: 50%;
		img{
	      width: 100%;
	  }
}
}

@media screen and (max-width: 860px) {
.gallery-photo{
		width: 100%;
		margin: 10px 105px;
}
}
@media screen and (max-width: 600px) {
.gallery-photo{
		width: 100%;
		margin: 0 10px;
}
}


/*...............................................BLOCK _ ABOUT............................................*/
@media screen and (max-width: 1100px) {
h2{ 
   font-size: 25px;
}
.block-about{
	padding: 80px 0;
	margin: 0 50px;

	.about-description{
		max-width: 50%;
		padding-right: 50px;
		p{
			margin-top: 20px;
		}
	}
	.about-slider{
		width: 50%;
	}
}

}

@media screen and (max-width: 930px) {
h2{ 
   font-size: 20px;
}
.block-about{
	padding: 80px 0;
	margin: 0 50px;

	.about-description{
		text-align: center;
		max-width: 100%;
		padding-right: 0;
		padding: 0 50px;
		margin-bottom: 20px;
		p{
			margin-top: 20px;
		}
	}
	.about-slider{
		width: 100%;
	}
}

}
@media screen and (max-width: 600px) {

.block-about{
	padding: 80px 0;
	margin: 0 30px;

	.about-description{
		padding: 0;
	}
}

}

@media screen and (max-width: 420px) {

.block-about{
    p{
    	font-size: 13px;
    }
	.about-slider{
		display: none;
		.display-respon{
			display: block;
		}
	}
}

}


/*...............................................BLOCK _ FEATURES............................................*/
@media screen and (max-width: 1020px) {
.block-features{
	padding: 80px 0;
   .features__item{
	width: 33.3333%;
	padding: 0 25px;
	margin-bottom: 30px;
		.features-icon{
			margin-bottom: 20px;
		}
	.features-title{
		margin-bottom: 10px;
	}
}

}
}

@media screen and (max-width: 820px) {
.block-features{
	
   .features__item{
	width: 50%;
	padding: 0 50px;
	font-size: 14px;
	line-height: 23px;
		.features-icon{
			margin-bottom: 20px;
		}
	.features-title{
		font-size: 16px;
		padding: 0;
	}
}

}
}
@media screen and (max-width: 660px) {
.block-features{
	.features__item{
        text-align: left;
		width: 100%;
		padding: 0 ;
		margin: 0 50px;
		margin-bottom: 60px;
		.features-icon{
			float: left;
			margin-bottom: 0;
			margin-right: 20px;
		}
	.features-title{
		font-size: 16px;
		padding: 0;
	}
}
}

}
@media screen and (max-width: 520px) {
.block-features{

	.features__item{
        text-align: center;
		width: 100%;
		padding: 0 50px;
		margin: 0 50px;
		margin-bottom: 40px;
		.features-icon{
			float: none;
			margin-bottom: 10px;
			margin-right: 0;
		}
	.features-title{
		font-size: 16px;
		padding: 0;
	}
}
}

}
@media screen and (max-width: 450px) {
.block-features{
	
	.features__item{
        text-align: center;
		width: 100%;
		padding: 0 20px;
		margin: 0;
		margin-bottom: 40px;
}
}

}



/*...............................................BLOCK _ PRICE............................................*/

@media screen and (max-width: 920px) {
	.block-price{
	padding-top: 80px;
	.price{
		
		ul{
			margin-bottom: 18px;
			.price-title{
				margin-bottom: 18px;
				padding: 35px 0;
				font-size: 60px;
			}
			li{
				padding: 15px 0;
				font-size: 15px;
			}
			li+li::before{
			    left: 80px;
			    right: 80px;
			}
		}
	}
	.btn{
		padding: 10px 30px;
		font-size: 14px;
		}
		
}
}

@media screen and (max-width: 780px) {
	.block-price{
	
	.price{
		width: 100%;
		margin: 0 180px;
		padding-bottom: 50px;	
		margin-bottom: 30px;
		
		ul{
			list-style-type: none;	
			margin-bottom: 25px;

			.price-title{
				margin-bottom: 25px;
				padding: 45px 0;
			}
			.hover{
				opacity: 1;
			}
			li{
				text-transform: uppercase;
				padding: 25px 0;
				font-size: 18px;
				position: relative;
			}
			li+li::before{
			    left: 135px;
			    right: 135px;
			}
		}
	}
	.btn{
		padding: 15px 45px;
		font-size: 16px;
		}
		
}
}

@media screen and (max-width: 700px) {
	.block-price{
	
	.price{
		margin: 0 100px;
}
}

}

@media screen and (max-width: 530px) {
	.block-price{
	.price{
		margin: 0 15px;
		margin-bottom: 30px;
		ul{
			margin-bottom: 18px;
			.price-title{
				margin-bottom: 18px;
				padding: 35px 0;
				font-size: 60px;
			}
			li{
				padding: 20px 0;
				font-size: 18px;
			}
			li+li::before{
			    left: 80px;
			    right: 80px;
			}
		}
	}
	.btn{
		padding: 15px 45px;
		font-size: 16px;
		}
		
}
}


/*...............................................BLOCK _ QUOTE............................................*/


@media screen and (max-width: 1200px) {
.block-quote{
	padding-top: 100px;
	padding-bottom: 150px;
	background: url(../img/bg/block-quote-bg.png) no-repeat ;
	

	.slider-quote{
		position: relative;
		box-shadow: 9px 9px 50px rgba(0,0,0 , .10);	
		border-radius: 10px;
		background-color: white;
		width: 100%;
		.slider-for{
			position: relative;
           max-width: 1000px;
           margin: 0 auto;
           padding-top: 30px;
           padding-bottom: 70px;
       }
		.slider-nav{
			width: 260px;
		    display: inline-block;
		    position: absolute;
		    top: 87%;
		    left: 350px;
		    .slick-prev{
		    	right:-46px;
		    }
		}
	}
}

.main-slide{
	.photo-trainer{
		float: left;
		position: relative;
		&::before{
			position:absolute;
			content: '';
			border-left: 2px solid lighten($grey, 45.5%);
			top: 73px;
		    right: -45px;
			bottom: 0;
		}
	}
	.comment{
		display: inline-block;
		width: 670px;
		margin-left: 85px;
		.text-comment{
			font-style: italic;
			margin-bottom: 30px;
			position: relative;
			&::before{
				position:absolute;
				content:'';
				background: url(../img/icon/up-quote.png) no-repeat;
				width: 25px;
				height: 15px;
				top: 0;
				left: -50px;
			}
			&::after{
				position:absolute;
				content:'';
				background: url(../img/icon/down-quote.png) no-repeat;
				width: 25px;
				height: 15px;
				right: -50px;
				bottom: 0;
			}
		}
		.name{
			display: block;
			font-size: 18px;
			font-weight: 700;
			color: $primary-color;
		}
		
	}

}
.next-slide{
	.photo-next-trainer{
		float: left;
		margin-left: 25px;
	}
		.descr{
			display: inline-block;
            color: $grey;
            margin-left: 10px;
            span:nth-child(1){
            	display: block;
            	font-size: 16px;
            	font-weight: 700;
            	color: lighten($grey,13.5%);
            }
		}
	
}
}

/*.block-quote{
	padding-top: 70px;
	padding-bottom: 100px;
	background-size: cover ;
}
.slider-quote{
		margin: 0 100px;
		
	}
.main-slide{
	.photo-trainer{
		margin-left: 25px;
}
}
	
.slick-dots{
	position: absolute;
	top: 100%;
	left:0;
	width: 100%;
	margin-left: 0;
	margin-top: 40px;

	
	li{
		display: inline-block;
	
	}
}*/

.footer{
    padding: 60px 0;	
 .footer-col{
 	text-align: center;
 	padding: 0 20px;
 }
	.contact{
   
    &__item{
      float: none;
     margin-right: 0px;
     margin-bottom: 0px;
   }
   &__item:last-child{
        padding-left: 0;
   }
   }
   .ft-title{
		margin-bottom: 30px;
}
}



/*.block-quote{

	.slider-quote{
	
		width: 100%;
		margin: 0 100px;
		
	}
}



.main-slide{
	.photo-trainer{
		float: left;
		position: relative;
		
	}
	.comment{
		display: inline-block;
		width: 60%;
		margin-left: 85px;
	.text-comment{
	&::after{
				right: -10px;
			}	
        }
     }
}	

}
*/




.block-quote{
	.slider-quote{
		.slider-nav{
			left: 150px;
		}
	}
}
.main-slide{
	.photo-trainer{
		float: left;
		position: relative;
		
	}
	.comment{
	display: inline-block;
		width: 50%;
		margin-left: 85px;
	.text-comment{
	&::after{
				right: -10px;
			}	
        }
     }
}	

}




